body {
  display: flex;
  --min-font: 12px;
}

.left-side {
  flex: 1.5;
  position: relative;
}

.background {
  display: block;
  width: 100%; 
  height: 100%;
}

.right-side {
  flex: 2;
  background-color: #E5E7EB;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10vw;  
  width: 100%;
  padding: 0.5vw 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo-image {
  display: block;
  width: 6vw;
  min-width: 40px;
}

@font-face {
  font-family: norse;
  src: url(./assets/Norse-Bold.otf);
}

.logo-title {
  font-family: norse, sans-serif;
  font-size: max(10px,5vw);
  color: white;
}

.credits {
  text-align: center;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0.5vw;
  font-size: max(var(--min-font),1vw);
}

.credits a {
  color: white;
  text-decoration-color: white;
}

.intro-container {
  padding: 6vw 8vw 2vw 3vw;
}

.intro-text {
  font-weight: bold;
  font-size: max(var(--min-font),1.7vw);
}

.account-container {
  padding: 2vw 8vw 2vw 3vw;
}

.form-container {
  background-color: white;  
}

.submit-btn {
  background-color: #596D48;
  color: white;
  padding: 1vw 3vw;
  border-radius: 0.8vw;
  border-style: none;
  font-weight: bold;
  font-size: max(var(--min-font),1.5vw);
}

.login-text {
  text-decoration-line: none;
  color: #596D48;
  font-weight: bold;
}

label {
  font-size: max(10px, 1.4vw);
  font-weight: bold;
  margin-bottom: 0.3vw;
}

form>div {
  display: flex;
  gap: 5vw;
  margin-bottom: 2vw;
}

form>div>div {
  display: flex;
  flex-flow: column;
}

.form-container {
  padding: 0.01vw 0 3vw 3vw;
}

input {
  width: 18vw;
  height: 1.6vw;
  border: 0.15vw solid #E5E7EB;
  border-radius: 0.4vw;
  outline: none;
}

input:focus {
  border-color: blue;
  box-shadow: 3px 3px 2px #b0b2b8;
}

.error, .error:focus {
  border-color: red;
}

div.error {
  position: relative;
}

div.error::after {
  position: absolute;
  top: 4.5vw;
  content: "* Passwords do not match";
  color: red;
  font-size: max(9px,1.3vw);  
}

.match, .match:focus {
  border-color: green;
}

.form-title {
  font-size: max(var(--min-font),2vw);
}

.account-text {
  font-size: max(var(--min-font),1.4vw);
}