body {
  display: flex;
  align-items: stretch;
}

.left-side {
  flex: 1.5;
  position: relative;
}

.left-side>img {
  display: block;
  width: 100%;
}

.right-side {
  flex: 2;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10vw;  
  width: 100%;
  padding: 0.5vw 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo-container>img {
  display: block;
  width: 15%;
}

@font-face {
  font-family: norse;
  src: url(/resources/Norse-Bold.otf);
}

.logo-title {
  font-family: norse, sans-serif;
  font-size: 5vw;
  color: white;
}

.credits {
  text-align: center;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0.5vw;
  font-size: 1vw;
}

.credits a {
  color: white;
  text-decoration-color: white;
}

.intro-container {
  background-color: #E5E7EB;
  padding: 6vw 8vw 2vw 3vw;
}

.intro-text {
  font-weight: bold;
  font-size: 1.7vw;
}